{% extends "base.html" %}
{% block content %}
<body style="background-color: silver">
    <div class="row">
        <div class="col-md-4">
            <h1>{{trilogia.nimi}}</h1>
        </div>
        <div class="col-md-1">
            <h1>{{trilogia.arvio}}/5</h1>
        </div>
    </div>
    <div class="col-md-12">
        <a href="{{base_path}}/esittelyTrilogia/{{trilogia.id}}/poista" class="btn btn-danger">Poista</a>
        <a class="btn btn-default" href="{{base_path}}/esittelyTrilogia/{{trilogia.id}}/muokkaa">Muokkaa</a>
    </div>
    <div class="row">
        <div class="col-md-2">
            <h2>Tietoja:</h2>
        </div>
        <div class="col-md-10">
            <h3>Arvostelu perusteet</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">

            <dl>
                <dt>Media</dt>
                <dd>{{trilogia.media}}</dd>
                <dt>Genre</dt>
                {% for genre in genret %}
                <dd>{{genre.nimi}}</dd>
                {% endfor %}
            </dl>
        </div>
        <div class="col-md-5">
            <p>{{trilogia.sanallinen_arvio}}</p>
        </div>
    </div>
    <h3>Trilogian osat:</h3>
    <div class="col-md-8">
        <table class="table table-bordered" style="background-color: whitesmoke">
            <thead>
                <tr>
                    <th>Nimi</th>
                    <th>Trilogiassa</th>
                    <th>Arvio</th>
                    <th>Media</th>
                    <th>Genre</th>
                    <th>Julkaistu</th>
                </tr>
            </thead>
            <tbody>
                {% for osa in osat %}
                <tr>
                    <th><a href="{{base_path}}/esittelyOsa/{{osa.id}}">{{osa.nimi}}</a></th>
                    <th>{{osa.monesko_osa}}. osa</th>
                    <th>{{osa.arvio}}</th>
                    <th>{{osa.media}}</th>
                    <th>{% for genre in genret %}{{genre.nimi}} {% endfor %}</th>
                    <th>{{osa.julkaistu}}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
{% endblock %}
