{% extends "base.html" %}
{% block content %}
<body style="background-color: silver">

    <h1 style="text-align: center">Lisää trilogia</h1>
    {% if errors %}
    <div class="alert alert-danger">
        <ul>
            {% for error in errors %}
            <li>{{error}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <h3>Trilogia</h3>

    <form method="post" action="{{base_path}}/esittelyTrilogia">
        <div class="form-group col-lg-5">
            <label>Nimi</label>
            <input name ="tnimi" class="form-control" value="{{attribuutit.nimi}}" type="text">
        </div>
        <div class="form-group col-lg-1">
            <label>Arvio</label>
            <select name="tarvio" value="{{attribuutit.arvio}}" class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div class="form-group col-lg-4">
            <label>Media</label>
            <input name="tmedia" class="form-control" value="{{attribuutit.media}}" type="text">
        </div>
        <div class="form-group col-lg-3">
            <label>Genre 1</label>
            <input name="genre1" class="form-control" value="{{genret.genre1}}" type="text">
        </div>
        <div class="form-group col-lg-3">
            <label>Genre 2</label>
            <input name="genre2" class="form-control" value="{{genret.genre2}}" type="text">
        </div>
        <div class="form-group col-lg-7">
            <label>Arvion perustelut</label>
            <textarea name="tsanallinen" class="form-control" style="height: 150px">{{attribuutit.sanallinen_arvio}}</textarea>
        </div>

        <div class="form-group col-lg-12">
            <button type="submit" class="btn btn-default">Lisää</button>
        </div>
    </form>
</body>
{% endblock %}
