{% extends "base.html" %}
{% block content %}
<body style="background-color: silver">
    {% if messege %}
    <div class="alert alert-success">
        <ul>
            <li>{{messege}}</li>
        </ul>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-4">
            <h1>{{osa.nimi}}</h1>
        </div>
        <div class="col-md-1">
            <h1>{{osa.arvio}}/5</h1>
        </div>
    </div>
    <div class="col-md-12">
        <a href="{{base_path}}/esittelyOsa/{{osa.id}}/muokkaa" class="btn btn-default">Muokkaa</a>
    </div>
    <div class="row">
        <div class="col-md-2">
            <h2>Tietoja:</h2>
        </div>
        <div class="col-md-10">
            <h3>Arvostelu perusteet</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">

            <dl>
                <dt>Trilogiassa</dt>
                <dd>{{osa.monesko_osa}}. osa</dd>
                <dt>Media</dt>
                <dd>{{osa.media}}</dd>
                <dt>Genre</dt>
                {% for genre in genret %}
                <dd>{{genre.nimi}}</dd>
                {% endfor %}
                <dt>Julkaistu</dt>
                <dd>{{julkaistu[0]}}</dd>
            </dl>
        </div>
        <div class="col-md-5">
            <p>{{osa.sanallinen_arvio}}</p>
        </div>
    </div>
    <h3>Trilogiasta:</h3>
    <div class="col-md-8">
        <table class="table table-bordered" style="background-color: whitesmoke">
            <thead>
                <tr>
                    <th>Nimi</th>
                    <th>Arvio</th>
                    <th>Media</th>
                    <th>Genre</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th><a href="{{base_path}}/esittelyTrilogia/{{trilogia.id}}">{{trilogia.nimi}}</a></th>
                    <th>{{trilogia.arvio}}</th>
                    <th>{{trilogia.media}}</th>
                    <th>{% for genre in genret %}{{genre.nimi}} {% endfor %}</th>
                </tr>
            </tbody>
        </table>
    </div>
</body>
{% endblock %}
