{% extends "base.html" %}
{% block content %}
<body style="background-color: silver">
    <h1>Metro-trilogia</h1>
    <div class="col-md-5">
        <form>
            <div class="form-group">
                <label>Nimi</label>
                <input class="form-control"  type="text" value="Metro-trilogia">
            </div>
            <div class="form-group" class="col-md-4">
                <label>Arvio</label>
                <input class="form-control" type="text" value="5">
            </div>
            <div class="form-group">
                <label>Arvostelun perusteet</label>
                <textarea class="form-control" style="height: 200px">
Loistava luettavaa, kuvaa ihmisyyden rumaa puolta hyvin inhorealistiseen tyyliin. Ensimmäinen osa käsittelee ihmisiä ja maanpäällisiä mutantteja tasapuolisesti, kun taas toinen osa keskittyy enemmän mutantteihin. Kolmas osa pureutuu oikein lujaa ihmisen luontoon. Ensimmäinen ja kolmas osa ovat hieman parempia kuin toinen mutta sekin on kelpo luettavaa.
                </textarea>
            </div>
                <button class="btn btn-default">Tallenna</button>
        </form>
    </div>
</body>
{% endblock %}
